.body{
    overflow-x: hidden;
    overflow-y: scroll;
}
#i{
    margin-left: 30px;
}
.block-txt ul li{
    list-style: none;
    display: inline-flex;
    font-size: larger;
}
.block-txt ul{
    padding-left: 35%;
    margin-top: 20px;
}

.block-bckgrnd{
   margin-top: -300px;
   color: white;
   margin-left: 30px;
   font-size: 180%;
   font-family: serif;
}
#girl{
    width: 83em;
    height: 47em;
}

#discover{
    padding: 5px 30px;
    color: white;
    border-color: palevioletred;
    background-color: palevioletred;
}
#dress{
    margin-right: 20px;
}
#topic{
    color: black;
    font-family: serif;
}
.block-txt1{
    margin-top: 140px;
    margin-left: 50%;
}
#girl2{
    width: 60%;
    margin-left: 60px;
}
#girl3{
    width:60%;
    margin-left: 60px;
}
#girl4{
    width: 63%;
    margin-left: 60px;
}
#txt1{
    margin-left: 60px;
}
.block-dress{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
#view{
    padding: 5px 30px;
    color: white;
    margin-top: 20px;
    margin-right: -1000px;
    border-color: palevioletred;
    background-color: palevioletred;
    margin-bottom: 40px;

}
#girl5{
    width: 80%;
    margin-left: 40px;
}
.block-txt3{
    margin-top: -200px;
    margin-left: 60px;
    color: white;
}
.block-txt4{
    margin-top: -230px;
    margin-left: 10px;
    color: white;
}
#girl6{
    margin-top: -360px;
    width: 100%;
    height: 100%;
    margin-left: -22px;
}
.shoes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    /* justify-items: center; */
    align-items: center;
}
#girl7{
    width: 100%;
    height: 200%;
    margin-left: 40em;
    margin-top: -200px;
}
.block-txt5{
    color: white;
    margin-top: -120px;
}